# Web Scraping BPS - Administrative Data

---

For introduction of Selenium, please be kind to open [**this site**](https://www.scrapingbee.com/blog/selenium-python/)

## Import modules

In [305]:
%pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [491]:
# Module for web scraping
from selenium import webdriver
# Module for data manipulation
import pandas as pd
from bs4 import BeautifulSoup
# Module for dropdown selector
from selenium.webdriver.support.ui import Select

## Load the Chromedriver

Read how to download webdriver for Chrome [**here**]('https://chromedriver.chromium.org/downloads')

In [492]:
DRIVER_PATH = '../bin/chromedriver'
driver = webdriver.Chrome(executable_path = DRIVER_PATH)
driver.get('https://sig-dev.bps.go.id/webgis/pencariankodenama')

## Core Procedure

### Select the panel

In [493]:
dropdownPanel = driver.find_element_by_class_name('panel-title')

In [494]:
# Click the main panel
dropdownPanel.click()

In [495]:
mainPanel = driver.find_element_by_id('collapse1')
bpsMendagriPanel = mainPanel.find_elements_by_tag_name('li')[0]

In [496]:
# Click the BPS-Kemendagri page
bpsMendagriPanel.click()

### Select the historical records - dropdown

In [497]:
dropdownRecords = driver.find_element_by_id('periode1-bridg')
selectorRecords = Select(dropdownRecords)

In [498]:
# List of dropdown list
listDropdownRecords = []
options = selectorRecords.options
for index in range(len(options)):
    listDropdownRecords.append(options[index].text)

In [499]:
# Select by visible text
selectorRecords.select_by_visible_text(listDropdownRecords[len(listDropdownRecords) - 1])

### Get the provinces data

In [500]:
tableProvince = driver.find_element_by_id('data-table')

**Get column header**

In [501]:
fileDataProvince = []
fileHeaderProvince = []
headLineProvince = tableProvince.find_elements_by_tag_name('tr')
headers = headLineProvince[1].find_elements_by_tag_name('th')

for header in headers:
    header_text_raw = header.text
    fileHeaderProvince.append(header_text_raw)
fileDataProvince.append(';'.join(fileHeaderProvince))

In [502]:
fileDataProvince

['-;Nama Provinsi;Kode Provinsi;Nama Provinsi;Kode Provinsi']

**Get the rows**

In [503]:
bodyRowsProvince = tableProvince.find_elements_by_tag_name('tr')
for row in bodyRowsProvince:
    data = row.find_elements_by_tag_name('td')    
    file_row = []
    for datum in data:
        datum_text_byte = datum.text.encode('utf8')
        datum_text_raw = datum_text_byte.decode('utf-8')
        file_row.append(datum_text_raw)
    fileDataProvince.append(';'.join(file_row))

In [504]:
fileDataProvince

['-;Nama Provinsi;Kode Provinsi;Nama Provinsi;Kode Provinsi',
 '',
 '',
 '1;Aceh;11;Aceh;11',
 '2;Sumatera Utara;12;Sumatera Utara;12',
 '3;Sumatera Barat;13;Sumatera Barat;13',
 '4;Riau;14;Riau;14',
 '5;Jambi;15;Jambi;15',
 '6;Sumatera Selatan;16;Sumatera Selatan;16',
 '7;Bengkulu;17;Bengkulu;17',
 '8;Lampung;18;Lampung;18',
 '9;Kep. Bangka Belitung;19;Kep. Bangka Belitung;19',
 '10;Kep. Riau;21;Kep. Riau;21',
 '11;Dki Jakarta;31;Dki Jakarta;31',
 '12;Jawa Barat;32;Jawa Barat;32',
 '13;Jawa Tengah;33;Jawa Tengah;33',
 '14;Di Yogyakarta;34;Di Yogyakarta;34',
 '15;Jawa Timur;35;Jawa Timur;35',
 '16;Banten;36;Banten;36',
 '17;Bali;51;Bali;51',
 '18;Nusa Tenggara Barat;52;Nusa Tenggara Barat;52',
 '19;Nusa Tenggara Timur;53;Nusa Tenggara Timur;53',
 '20;Kalimantan Barat;61;Kalimantan Barat;61',
 '21;Kalimantan Tengah;62;Kalimantan Tengah;62',
 '22;Kalimantan Selatan;63;Kalimantan Selatan;63',
 '23;Kalimantan Timur;64;Kalimantan Timur;64',
 '24;Kalimantan Utara;65;Kalimantan Utara;65',
 '25;Sulawesi Utara;71;Sulawesi Utara;71',
 '26;Sulawesi Tengah;72;Sulawesi Tengah;72',
 '27;Sulawesi Selatan;73;Sulawesi Selatan;73',
 '28;Sulawesi Tenggara;74;Sulawesi Tenggara;74',
 '29;Gorontalo;75;Gorontalo;75',
 '30;Sulawesi Barat;76;Sulawesi Barat;76',
 '31;Maluku;81;Maluku;81',
 '32;Maluku Utara;82;Maluku Utara;82',
 '33;Papua Barat;91;Papua Barat;92',
 '34;Papua;94;Papua;91']

In [507]:
# Remove indexes which are header
del(fileDataProvince[1:3])

In [508]:
fileDataProvince

['-;Nama Provinsi;Kode Provinsi;Nama Provinsi;Kode Provinsi',
 '1;Aceh;11;Aceh;11',
 '2;Sumatera Utara;12;Sumatera Utara;12',
 '3;Sumatera Barat;13;Sumatera Barat;13',
 '4;Riau;14;Riau;14',
 '5;Jambi;15;Jambi;15',
 '6;Sumatera Selatan;16;Sumatera Selatan;16',
 '7;Bengkulu;17;Bengkulu;17',
 '8;Lampung;18;Lampung;18',
 '9;Kep. Bangka Belitung;19;Kep. Bangka Belitung;19',
 '10;Kep. Riau;21;Kep. Riau;21',
 '11;Dki Jakarta;31;Dki Jakarta;31',
 '12;Jawa Barat;32;Jawa Barat;32',
 '13;Jawa Tengah;33;Jawa Tengah;33',
 '14;Di Yogyakarta;34;Di Yogyakarta;34',
 '15;Jawa Timur;35;Jawa Timur;35',
 '16;Banten;36;Banten;36',
 '17;Bali;51;Bali;51',
 '18;Nusa Tenggara Barat;52;Nusa Tenggara Barat;52',
 '19;Nusa Tenggara Timur;53;Nusa Tenggara Timur;53',
 '20;Kalimantan Barat;61;Kalimantan Barat;61',
 '21;Kalimantan Tengah;62;Kalimantan Tengah;62',
 '22;Kalimantan Selatan;63;Kalimantan Selatan;63',
 '23;Kalimantan Timur;64;Kalimantan Timur;64',
 '24;Kalimantan Utara;65;Kalimantan Utara;65',
 '25;Sulawesi Utara;71;Sulawesi Utara;71',
 '26;Sulawesi Tengah;72;Sulawesi Tengah;72',
 '27;Sulawesi Selatan;73;Sulawesi Selatan;73',
 '28;Sulawesi Tenggara;74;Sulawesi Tenggara;74',
 '29;Gorontalo;75;Gorontalo;75',
 '30;Sulawesi Barat;76;Sulawesi Barat;76',
 '31;Maluku;81;Maluku;81',
 '32;Maluku Utara;82;Maluku Utara;82',
 '33;Papua Barat;91;Papua Barat;92',
 '34;Papua;94;Papua;91']

In [509]:
# Convert to dataframe
dataProvinces = pd.DataFrame(columns = fileDataProvince[0].split(';'), data=[row.split(';') for row in fileDataProvince[1:]])
dataProvinces.rename(columns = {'-':'No'}, inplace = True)

In [510]:
dataProvinces.head()

  No   Nama Provinsi Kode Provinsi   Nama Provinsi Kode Provinsi
0  1            Aceh            11            Aceh            11
1  2  Sumatera Utara            12  Sumatera Utara            12
2  3  Sumatera Barat            13  Sumatera Barat            13
3  4            Riau            14            Riau            14
4  5           Jambi            15           Jambi            15

### Get the district data

In [511]:
dropdownProvinces = driver.find_element_by_id('provinsi-dropdown-bridg')
selectorProvinces = Select(dropdownProvinces)

In [512]:
listDropdownProvince = []
options = selectorProvinces.options
for index in range(len(options)):
    listDropdownProvince.append(options[index].text)

In [513]:
print('Length of list: {}'.format(len(listDropdownProvince)))
listDropdownProvince[:5]

Length of list: 35

['----', 'ACEH', 'SUMATERA UTARA', 'SUMATERA BARAT', 'RIAU']

In [514]:
# Remove the first element of list
del listDropdownProvince[0]

In [515]:
print('Length of list: {} \n'.format(len(listDropdownProvince)))
print(listDropdownProvince)

Length of list: 34

['ACEH', 'SUMATERA UTARA', 'SUMATERA BARAT', 'RIAU', 'JAMBI', 'SUMATERA SELATAN', 'BENGKULU', 'LAMPUNG', 'KEP. BANGKA BELITUNG', 'KEP. RIAU', 'DKI JAKARTA', 'JAWA BARAT', 'JAWA TENGAH', 'DI YOGYAKARTA', 'JAWA TIMUR', 'BANTEN', 'BALI', 'NUSA TENGGARA BARAT', 'NUSA TENGGARA TIMUR', 'KALIMANTAN BARAT', 'KALIMANTAN TENGAH', 'KALIMANTAN SELATAN', 'KALIMANTAN TIMUR', 'KALIMANTAN UTARA', 'SULAWESI UTARA', 'SULAWESI TENGAH', 'SULAWESI SELATAN', 'SULAWESI TENGGARA', 'GORONTALO', 'SULAWESI BARAT', 'MALUKU', 'MALUKU UTARA', 'PAPUA BARAT', 'PAPUA']

In [518]:
listDropdownProvince[19:]

['KALIMANTAN BARAT',
 'KALIMANTAN TENGAH',
 'KALIMANTAN SELATAN',
 'KALIMANTAN TIMUR',
 'KALIMANTAN UTARA',
 'SULAWESI UTARA',
 'SULAWESI TENGAH',
 'SULAWESI SELATAN',
 'SULAWESI TENGGARA',
 'GORONTALO',
 'SULAWESI BARAT',
 'MALUKU',
 'MALUKU UTARA',
 'PAPUA BARAT',
 'PAPUA']

In [367]:
# Select by visible text
selectorProvinces.select_by_visible_text(listDropdownProvince[0])

In [368]:
tableDistrict = driver.find_element_by_id('data-table')

**Get column header**

In [369]:
fileDataDistrict = []
fileHeaderDistrict = []
headLineDistrict = tableDistrict.find_elements_by_tag_name('tr')
headers = headLineDistrict[1].find_elements_by_tag_name('th')

for header in headers:
    header_text_raw = header.text
    fileHeaderDistrict.append(header_text_raw)
fileDataDistrict.append(';'.join(fileHeaderDistrict))

In [370]:
fileDataDistrict

['-;Nama Kabupaten / Kota;Kode Kabupaten / Kota;Nama Kabupaten / Kota;Kode Kabupaten / Kota']

**Get the rows**

In [371]:
bodyRowsDistrict = tableDistrict.find_elements_by_tag_name('tr')
for row in bodyRowsDistrict:
    data = row.find_elements_by_tag_name('td')    
    file_row = []
    for datum in data:
        datum_text_byte = datum.text.encode('utf8')
        datum_text_raw = datum_text_byte.decode('utf-8')
        file_row.append(datum_text_raw)
    fileDataDistrict.append(';'.join(file_row))

In [372]:
fileDataDistrict

['-;Nama Kabupaten / Kota;Kode Kabupaten / Kota;Nama Kabupaten / Kota;Kode Kabupaten / Kota',
 '',
 '',
 '1;Simeulue;1101;Kab. Simeulue;11.09',
 '2;Aceh Singkil;1102;Kab. Aceh Singkil;11.10',
 '3;Aceh Selatan;1103;Kab. Aceh Selatan;11.01',
 '4;Aceh Tenggara;1104;Kab. Aceh Tenggara;11.02',
 '5;Aceh Timur;1105;Kab. Aceh Timur;11.03',
 '6;Aceh Tengah;1106;Kab. Aceh Tengah;11.04',
 '7;Aceh Barat;1107;Kab. Aceh Barat;11.05',
 '8;Aceh Besar;1108;Kab. Aceh Besar;11.06',
 '9;Pidie;1109;Kab. Pidie;11.07',
 '10;Bireuen;1110;Kab. Bireuen;11.11',
 '11;Aceh Utara;1111;Kab. Aceh Utara;11.08',
 '12;Aceh Barat Daya;1112;Kab. Aceh Barat Daya;11.12',
 '13;Gayo Lues;1113;Kab. Gayo Lues;11.13',
 '14;Aceh Tamiang;1114;Kab. Aceh Tamiang;11.16',
 '15;Nagan Raya;1115;Kab. Nagan Raya;11.15',
 '16;Aceh Jaya;1116;Kab. Aceh Jaya;11.14',
 '17;Bener Meriah;1117;Kab. Bener Meriah;11.17',
 '18;Pidie Jaya;1118;Kab. Pidie Jaya;11.18',
 '19;Banda Aceh;1171;Kota Banda Aceh;11.71',
 '20;Sabang;1172;Kota Sabang;11.72',
 '21;Langsa;1173;Kota Langsa;11.74',
 '22;Lhokseumawe;1174;Kota Lhokseumawe;11.73',
 '23;Subulussalam;1175;Kota Subulussalam;11.75']

In [373]:
# Remove indexes which are header
del(fileDataDistrict[1:3])

In [374]:
fileDataDistrict

['-;Nama Kabupaten / Kota;Kode Kabupaten / Kota;Nama Kabupaten / Kota;Kode Kabupaten / Kota',
 '1;Simeulue;1101;Kab. Simeulue;11.09',
 '2;Aceh Singkil;1102;Kab. Aceh Singkil;11.10',
 '3;Aceh Selatan;1103;Kab. Aceh Selatan;11.01',
 '4;Aceh Tenggara;1104;Kab. Aceh Tenggara;11.02',
 '5;Aceh Timur;1105;Kab. Aceh Timur;11.03',
 '6;Aceh Tengah;1106;Kab. Aceh Tengah;11.04',
 '7;Aceh Barat;1107;Kab. Aceh Barat;11.05',
 '8;Aceh Besar;1108;Kab. Aceh Besar;11.06',
 '9;Pidie;1109;Kab. Pidie;11.07',
 '10;Bireuen;1110;Kab. Bireuen;11.11',
 '11;Aceh Utara;1111;Kab. Aceh Utara;11.08',
 '12;Aceh Barat Daya;1112;Kab. Aceh Barat Daya;11.12',
 '13;Gayo Lues;1113;Kab. Gayo Lues;11.13',
 '14;Aceh Tamiang;1114;Kab. Aceh Tamiang;11.16',
 '15;Nagan Raya;1115;Kab. Nagan Raya;11.15',
 '16;Aceh Jaya;1116;Kab. Aceh Jaya;11.14',
 '17;Bener Meriah;1117;Kab. Bener Meriah;11.17',
 '18;Pidie Jaya;1118;Kab. Pidie Jaya;11.18',
 '19;Banda Aceh;1171;Kota Banda Aceh;11.71',
 '20;Sabang;1172;Kota Sabang;11.72',
 '21;Langsa;1173;Kota Langsa;11.74',
 '22;Lhokseumawe;1174;Kota Lhokseumawe;11.73',
 '23;Subulussalam;1175;Kota Subulussalam;11.75']

In [375]:
# Convert to dataframe
dataDistrict = pd.DataFrame(columns = fileDataDistrict[0].split(';'), data = [row.split(';') for row in fileDataDistrict[1:]])
dataDistrict.rename(columns = {'-':'No'}, inplace = True)

In [243]:
dataDistrict.head()

,No,Nama Kabupaten / Kota,Kode Kabupaten / Kota,Nama Kabupaten / Kota,Kode Kabupaten / Kota
0,1,Simeulue,1101,Kab. Simeulue,11.09
1,2,Aceh Singkil,1102,Kab. Aceh Singkil,11.10
2,3,Aceh Selatan,1103,Kab. Aceh Selatan,11.01
3,4,Aceh Tenggara,1104,Kab. Aceh Tenggara,11.02
4,5,Aceh Timur,1105,Kab. Aceh Timur,11.03

### Get the subdistrict data

In [376]:
dropdownDistricts = driver.find_element_by_id('kabupaten-dropdown-bridg')
selectorDistricts = Select(dropdownDistricts)

In [377]:
listDropdownDistrict = []
options = selectorDistricts.options
for index in range(len(options)):
    listDropdownDistrict.append(options[index].text)

In [378]:
print('Length of list: {}'.format(len(listDropdownDistrict)))
listDropdownDistrict[:5]

Length of list: 24

['----', 'SIMEULUE', 'ACEH SINGKIL', 'ACEH SELATAN', 'ACEH TENGGARA']

In [379]:
# Remove the first element of list
del listDropdownDistrict[0]

In [380]:
print('Length of list: {} \n'.format(len(listDropdownDistrict)))
print(listDropdownDistrict)

Length of list: 23

['SIMEULUE', 'ACEH SINGKIL', 'ACEH SELATAN', 'ACEH TENGGARA', 'ACEH TIMUR', 'ACEH TENGAH', 'ACEH BARAT', 'ACEH BESAR', 'PIDIE', 'BIREUEN', 'ACEH UTARA', 'ACEH BARAT DAYA', 'GAYO LUES', 'ACEH TAMIANG', 'NAGAN RAYA', 'ACEH JAYA', 'BENER MERIAH', 'PIDIE JAYA', 'BANDA ACEH', 'SABANG', 'LANGSA', 'LHOKSEUMAWE', 'SUBULUSSALAM']

In [381]:
# Select by visible text
selectorDistricts.select_by_visible_text(listDropdownDistrict[0])

In [382]:
tableSubdistrict = driver.find_element_by_id('data-table')

**Get column header**

In [383]:
fileDataSubdistrict = []
fileHeaderSubdistrict = []
headLineSubdistrict = tableSubdistrict.find_elements_by_tag_name('tr')
headers = headLineSubdistrict[1].find_elements_by_tag_name('th')

for header in headers:
    header_text_raw = header.text
    fileHeaderSubdistrict.append(header_text_raw)
fileDataSubdistrict.append(';'.join(fileHeaderSubdistrict))

In [384]:
fileDataSubdistrict

['-;Nama Kecamatan;Kode Kecamatan;Nama Kecamatan;Kode Kecamatan']

**Get the rows**

In [385]:
bodyRowsSubdistrict = tableSubdistrict.find_elements_by_tag_name('tr')
for row in bodyRowsSubdistrict:
    data = row.find_elements_by_tag_name('td')    
    file_row = []
    for datum in data:
        datum_text_byte = datum.text.encode('utf8')
        datum_text_raw = datum_text_byte.decode('utf-8')
        file_row.append(datum_text_raw)
    fileDataSubdistrict.append(';'.join(file_row))

In [386]:
fileDataSubdistrict

['-;Nama Kecamatan;Kode Kecamatan;Nama Kecamatan;Kode Kecamatan',
 '',
 '',
 '1;Manggeng;1112010;Manggeng;11.12.03',
 '2;Lembah Sabil;1112011;Lembah Sabil;11.12.09',
 '3;Tangan-tangan;1112020;Tangan-tangan;11.12.02',
 '4;Setia;1112021;Setia;11.12.07',
 '5;Blang Pidie;1112030;Blang Pidie;11.12.01',
 '6;Jeumpa;1112031;Jeumpa;11.12.08',
 '7;Susoh;1112040;Susoh;11.12.04',
 '8;Kuala Batee;1112050;Kuala Batee;11.12.05',
 '9;Babah Rot;1112060;Babah Rot;11.12.06']

In [387]:
# Remove indexes which are header
del(fileDataSubdistrict[1:3])

In [388]:
fileDataSubdistrict

['-;Nama Kecamatan;Kode Kecamatan;Nama Kecamatan;Kode Kecamatan',
 '1;Manggeng;1112010;Manggeng;11.12.03',
 '2;Lembah Sabil;1112011;Lembah Sabil;11.12.09',
 '3;Tangan-tangan;1112020;Tangan-tangan;11.12.02',
 '4;Setia;1112021;Setia;11.12.07',
 '5;Blang Pidie;1112030;Blang Pidie;11.12.01',
 '6;Jeumpa;1112031;Jeumpa;11.12.08',
 '7;Susoh;1112040;Susoh;11.12.04',
 '8;Kuala Batee;1112050;Kuala Batee;11.12.05',
 '9;Babah Rot;1112060;Babah Rot;11.12.06']

In [389]:
# Convert to dataframe
dataSubdistrict = pd.DataFrame(columns = fileDataSubdistrict[0].split(';'), data = [row.split(';') for row in fileDataSubdistrict[1:]])
dataSubdistrict.rename(columns = {'-':'No'}, inplace = True)

In [390]:
dataSubdistrict.head()

  No Nama Kecamatan Kode Kecamatan Nama Kecamatan Kode Kecamatan
0  1       Manggeng        1112010       Manggeng       11.12.03
1  2   Lembah Sabil        1112011   Lembah Sabil       11.12.09
2  3  Tangan-tangan        1112020  Tangan-tangan       11.12.02
3  4          Setia        1112021          Setia       11.12.07
4  5    Blang Pidie        1112030    Blang Pidie       11.12.01

### Get the village data

In [391]:
dropdownSubdistricts = driver.find_element_by_id('kecamatan-dropdown-bridg')
selectorSubdistricts = Select(dropdownSubdistricts)

In [392]:
listDropdownSubdistrict = []
options = selectorSubdistricts.options
for index in range(len(options)):
    listDropdownSubdistrict.append(options[index].text)

In [393]:
print('Length of list: {}'.format(len(listDropdownSubdistrict)))
listDropdownSubdistrict[:5]

Length of list: 10

['----', 'MANGGENG', 'LEMBAH SABIL', 'TANGAN-TANGAN', 'SETIA']

In [394]:
# Remove the first element of list
del listDropdownSubdistrict[0]

In [395]:
print('Length of list: {} \n'.format(len(listDropdownSubdistrict)))
print(listDropdownSubdistrict)

Length of list: 9

['MANGGENG', 'LEMBAH SABIL', 'TANGAN-TANGAN', 'SETIA', 'BLANG PIDIE', 'JEUMPA', 'SUSOH', 'KUALA BATEE', 'BABAH ROT']

In [396]:
# Select by visible text
selectorSubdistricts.select_by_visible_text(listDropdownSubdistrict[0])

In [397]:
tableVillage = driver.find_element_by_id('data-table')

**Get column header**

In [398]:
fileDataVillage = []
fileHeaderVillage = []
headLineVillage = tableVillage.find_elements_by_tag_name('tr')
headers = headLineVillage[1].find_elements_by_tag_name('th')

for header in headers:
    header_text_raw = header.text
    fileHeaderVillage.append(header_text_raw)
fileDataVillage.append(';'.join(fileHeaderVillage))

In [399]:
fileDataVillage

['-;Nama Desa / Kelurahan;Kode Desa / Kelurahan;Nama Desa / Kelurahan;Kode Desa / Kelurahan']

**Get the rows**

In [400]:
bodyRowsVillage = tableVillage.find_elements_by_tag_name('tr')
for row in bodyRowsVillage:
    data = row.find_elements_by_tag_name('td')    
    file_row = []
    for datum in data:
        datum_text_byte = datum.text.encode('utf8')
        datum_text_raw = datum_text_byte.decode('utf-8')
        file_row.append(datum_text_raw)
    fileDataVillage.append(';'.join(file_row))

In [401]:
fileDataVillage

['-;Nama Desa / Kelurahan;Kode Desa / Kelurahan;Nama Desa / Kelurahan;Kode Desa / Kelurahan',
 '',
 '',
 '1;Ujung Tanah;1112011001;Ujung Tanah;11.12.09.2008',
 '2;Kuta Paya;1112011002;Kuta Paya;11.12.09.2007',
 '3;Geulanggang Batee;1112011003;Geulanggang Batee;11.12.09.2006',
 '4;Meunasah Tengah;1112011004;Meunasah Tengah;11.12.09.2005',
 '5;Meunasah Sukon;1112011005;Meunasah Sukon;11.12.09.2004',
 '6;Cot Bak-u;1112011006;Cot Bak-u;11.12.09.2003',
 '7;Meurandeh;1112011007;Meurandeh;11.12.09.2001',
 '8;Padang Kelele;1112011008;Padang Keulele;11.12.09.2009',
 '9;Ladang Tuha I;1112011009;Ladang Tuha I;11.12.09.2011',
 '10;Ladang Tuha Ii;1112011010;Ladang Tuha Ii;11.12.09.2012',
 '11;Alue Rambot;1112011011;Alue Rambot;11.12.09.2010',
 '12;Suka Damai;1112011016;Sukadamai;11.12.09.2002',
 '13;Tokoh Ii;1112011017;Tokoh Ii;11.12.09.2013',
 '14;Kaye Aceh;1112011018;Kayee Aceh;11.12.09.2014']

In [402]:
# Remove indexes which are header
del(fileDataVillage[1:3])

In [403]:
fileDataVillage

['-;Nama Desa / Kelurahan;Kode Desa / Kelurahan;Nama Desa / Kelurahan;Kode Desa / Kelurahan',
 '1;Ujung Tanah;1112011001;Ujung Tanah;11.12.09.2008',
 '2;Kuta Paya;1112011002;Kuta Paya;11.12.09.2007',
 '3;Geulanggang Batee;1112011003;Geulanggang Batee;11.12.09.2006',
 '4;Meunasah Tengah;1112011004;Meunasah Tengah;11.12.09.2005',
 '5;Meunasah Sukon;1112011005;Meunasah Sukon;11.12.09.2004',
 '6;Cot Bak-u;1112011006;Cot Bak-u;11.12.09.2003',
 '7;Meurandeh;1112011007;Meurandeh;11.12.09.2001',
 '8;Padang Kelele;1112011008;Padang Keulele;11.12.09.2009',
 '9;Ladang Tuha I;1112011009;Ladang Tuha I;11.12.09.2011',
 '10;Ladang Tuha Ii;1112011010;Ladang Tuha Ii;11.12.09.2012',
 '11;Alue Rambot;1112011011;Alue Rambot;11.12.09.2010',
 '12;Suka Damai;1112011016;Sukadamai;11.12.09.2002',
 '13;Tokoh Ii;1112011017;Tokoh Ii;11.12.09.2013',
 '14;Kaye Aceh;1112011018;Kayee Aceh;11.12.09.2014']

In [404]:
# Convert to dataframe
dataVillage = pd.DataFrame(columns = fileDataVillage[0].split(';'), data = [row.split(';') for row in fileDataVillage[1:]])
dataVillage.rename(columns = {'-':'No'}, inplace = True)

In [405]:
dataVillage.head()

,No,Nama Desa / Kelurahan,Kode Desa / Kelurahan,Nama Desa / Kelurahan,Kode Desa / Kelurahan
0,1,Ujung Tanah,1112011001,Ujung Tanah,11.12.09.2008
1,2,Kuta Paya,1112011002,Kuta Paya,11.12.09.2007
2,3,Geulanggang Batee,1112011003,Geulanggang Batee,11.12.09.2006
3,4,Meunasah Tengah,1112011004,Meunasah Tengah,11.12.09.2005
4,5,Meunasah Sukon,1112011005,Meunasah Sukon,11.12.09.2004

---